<center>
<%= form_with(model: book_review) do |form| %>
  <% if book_review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_review.errors.count, "error") %> prohibited this book_review from being saved:</h2>

      <ul>
        <% book_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :book_id, value: @current_book_id %>
  </div>

  <div>
    <%= form.label :review, style: "display: block" %>
    <%= form.text_area :review %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.number_field :rate, in: 1.0..5.0, step: 0.5 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</center>